.myQuote{
  padding: 15px;
}

.container-fluid{
  text-align: left;
  background-color: white;
  background-color: #BAD6D0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.container-fluid2{
  text-align:left;
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
