.myQuote{
  padding: 15px;
}

.container-fluid{

  text-align: left;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.container{
  text-align:left;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
