<h1>MY QUOTES</h1>
<hr>
  <div class="container-fluid">
      <div class="row">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
  </div>
    <div class="container">
        <div class="row" *ngFor='let quote of quotes; let i = index'>
          <div class="row">
            <p appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
          <p  *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>


          </div>

    <div class="row">

      <button class="btn btn-success" (click) = "upvote(i)">Up vote</button>
      <button class="btn btn-danger" (click) = "downvote(i)">Down vote</button>
                <app-quote-details  [quote]='quote' (isComplete) = 'deleteQuote($event, i)'></app-quote-details>


      </div>

    </div>

  </div>
