<h1>MY QUOTES</h1>
<hr>
<div class="container">
    <div class="row">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>
  <div class="container">
<div class="row" *ngFor='let quote of quotes; let i = index'>
  <div class="row">
  <h4 id ="{{i}}">{{quote.name}} Created on {{quote.timePassed|date|uppercase}}</h4>
  <button class="btn btn-primary" (click) = 'toogleDetails(i)'>View Details</button>
</div>

  <div class="row" *ngIf="quote.showDescription">
  <app-quote-details  [quote]='quote' (isComplete) = 'deleteQuote($event, i)'></app-quote-details>
  </div>

  </div>

  </div>

<p *ngIf='quotes.length > 5'>You have too many goals</p>
